@import './reset.css';

body::-webkit-scrollbar{
    display: none;
}
body{
    width: 1920px;
    margin: auto auto;
}

/* header */
header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    height: 40px;
    margin-bottom: 100px;
}
.left_link > ul > li{
    display: block;
    height: 40px;
    line-height: 40px;
    float: left;
    margin: auto auto;
    margin-right: 20px;
}
.left_link > ul > li > a {
    vertical-align: middle;
    text-decoration: none;
    color: black;
}
.lift_link > ul::after{
    clear: both;
}
.right_link > ul > li {
    float: right;
    margin-left: 20px;
}
.right_link > ul::after{
    clear: both;
}
.title > a {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* section */
/* article - main */
.main {
    display: grid;
    grid-template-columns: 2fr 7fr 3fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 50px;
}
.main .icon {
    grid-row-start: 1;
    grid-row-end: 3;
}
.main .icon li {
    margin-bottom: 25px;
}
.main .image {
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
}
.main .list{
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    padding: 100px;
}
.main .list li{
    margin-bottom: 20px;
    list-style-type: decimal;
}
.main .list a{
    text-decoration: none;
    color: gray;
}

/* article - people */
.people{
    text-align: center;
    margin: 20px 0px;
}
.people .nav li{
    margin: 0px 10px;
    display: inline;
}
.people .photo{
    display: grid;
    width: 1600px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 500px;
    margin: 20px auto;
}
.people button{
    margin: 20px 0px;
}

/* article - news */
.news {
    text-align: center;
}
.news > h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.news .post1 {
    display: grid;
    width:1599px;
    grid-template-columns: repeat(3, 533px);
    grid-auto-rows: 100px;
    margin: 20px auto;
}
.news .post1 img{
    float:left;
}
.news .post2 {
    display: grid;
    width:1540px;
    grid-template-columns: repeat(3, 500px);
    grid-gap: 20px;
    margin: 20px auto;
}
.news .post2 .bigPost:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}
.news .post2 .bigPost:nth-of-type(2){
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* footer */
.foot-title{
    margin: 20px 0px;
}
.foot-title h1{
    float:left;
    font-size:20px;
    font-weight: bold;
}
.copylight {
    margin: 20px 0px;
}
.foot-title p{
    float:right;
}
.foot-icons{
    margin: 20px 0px;
    float:right;
}
.foot-icons ul li{
    display: inline;
}
#clear{
    clear:both;
}